@import "tailwindcss";
#bottom {
  background: linear-gradient(transparent, black);
}
* {
  font-family: "helvetica neue";
}
:root {
  --c1: #0c2b4e;
  --c2: #1a3d64;
  --c3: #1d546c;
  --c4: #f4f4f4;
}
